/* CSS Document */
*
{
	margin:0px;
	padding: 0px;
	
}

.header 
{
	background:#444;
	
}

#logo-izquierda
{
	position:relative;
	width: 240px;
	left:180px;
	top:40px;
	
}

h1
{
	position:relative;
	text-align: center;
	color:#fff;
	font-family: Arial,Open sans,San Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	
}

.parrafo1
{
	position: relative;
	text-align: center;
}

.footer
{
	background: #444;
	position:relative;
	top:375px;
	height: 180px;
}

#logo-izquierda2
{
	position:relative;
	width:240px;
	left:180px;
	top:10px;
}