/* CSS Document */
*
{
	margin:0px;
	padding:0px;
}

.contenedor
{
	width:100%;
	
}

.header
{
	background: #444;
}

.logo-izquierda
{
	position: relative;
	width:180px;
	left: 150px;
	top:40px;
	
}

h1
{
	color: #fff;
	text-align: center;
}




/*footer*/

.footer
{
	position: relative;
	width:100%;
	background: #444;
	bottom:100px;
    height: 240px;
	top:299px;

	
	
}

.logo-izquierda2
{
	position:relative;
	width:180px;
	left:150px;
	top:40px;
}

.parrafo
{
	position:relative;
	text-align: center;
}